Content/Mocha.System/mocha.dtd

<!DOCTYPE mocha SYSTEM "-//MBS//DTD MOCHA 1.0 Alpha//EN" [
	<!ELEMENT mocha (libraries)>
	
	<!ELEMENT libraries (library*)>
	<!ELEMENT library (instances)>
	<!ELEMENT instances (instance*)>
	
	<!ELEMENT instance (attributeValues? | relationships? | translatableValues?)>
	
	<!ATTLIST instance
		id	CDATA	#REQUIRED
		classInstanceId	CDATA	#IMPLIED
		superClassId	CDATA	#IMPLIED
	>
	
	<!ENTITY Class__Boolean_Attribute "&IDC_BooleanAttribute;">
	<!ENTITY Class__String "&IDC_String;">
]>
